
:root {
  --mainYellow: #ffee0077;
  --mainWhite: #f5f5f5f5;
  --mainDark: #333333;
  --mainGreen: #317b22;
  --mainBlue: #05668d;
}

body {
  background: var(--mainYellow);
  color: var(--mainDark);
}

.enter-feedback {
  display: none;
}

.enter-form {
  border: 0.15rem solid var(--mainGreen);
  padding: 1rem;
  border-radius: 0.25rem;
}

.enter-submit {
  background: transparent;
  border: 0.1rem solid var(--mainGreen);
  color: var(--mainGreen);
}

.enter-input {
  border: 0.05rem solid var(--mainGreen) !important;
}



.enter-title {
  color: var(--mainGreen);
}

/* .showItem {
  display: block;
} */

.info-title {
  font-size: 1.7rem;
}

/* .enter-display {
  flex-direction: column;
  font-size: 1.2rem;
  color: var(--mainGreen);
} */


.showGreen {
  color: var(--mainGreen);
}

.showBlack {
  color: var(--mainDark);
}


.list-item { 
  flex: 0 0 18ex;
  text-align: center;
}


#solde {
  margin-left: 40px;
}

h6 {
  margin-left: 40px;
}

td{
  width: 200px;
}